repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

-   repo: https://github.com/Calinou/pre-commit-luacheck
    rev: v1.0.0
    hooks:
    -   id: luacheck
        name: Luacheck
        entry: luacheck .
        language: system
        types: [lua]
        files: \.lua$
